tests
tests/*

# python cache
__pycache__/**/*
__pycache__
*.pyc

# python distribution
build/**/*
build
dist/**/*
dist
qsiprep.egg-info/**/*
qsiprep.egg-info
.eggs/**/*
.eggs

# housekeeping tools
update_changes.sh
tox.ini

# pip installs
src/**/*
src/

# other
work/**/*
tests/*
work
out/**/*
out/
scratch
scratch/*

# CI, etc.
.circleci
.circleci/**/*
.zenodo.json
.travis.yml
.readthedocs.yml
CONTRIBUTING.md
