# Test data
qsiprep/tests/test_data/
qsiprep/tests/pytests/

qsiprep/_version.py
docs/api/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# C extensions
*.so
*.c

# Distribution / packaging
.Python
env/
# build/ # commented due to some strangeness with Docker/circle setup
develop-eggs/
dist/
build/lib*
build/temp*
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-wheel-metadata/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

# pycharm project settings
.idea

# vscode project settings
.vscode

# Spyder project settings
.spyderproject
.spyproject

auth/
secrets.py
local_settings.py

*.swp

*.DS_Store

scratch/
.Rproj.user

notebooks/*
!notebooks/*.ipynb
